/* Google Font */
@import url('https://fonts.googleapis.com/css?family=Patua+One|Rubik|Sniglet&display=swap');

* {
    box-sizing: border-box;
}

header,
section {
    overflow-x: hidden;
}

:root {
    --Snigle-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(18, 35, 34);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
  
#myBtn:hover {
    background-color: #555;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(28, 28, 28)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* ditch the ugle blue outline */
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

/* hide close when burger shown */
.navbar-toggler.collapsed .close-icon {
    display: none;
}

/* show close when navbar is not collapsed */
.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
}

/* header */
header a {
    font-family: var(--Rubik);
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

header {
    height: 43em;
    width: 100%;
    background-image: url(../assets/restaurant.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

header .nav-item:last-child {
    padding-right: 6.5em;
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand {
    padding-left: 3em;
    background-color: #0a321f;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

header .nav-link:hover {
    background-color: #0a3121;
    color: rgb(255, 255, 255);
}

header .row .col-md-7 {
    padding: 12vmin 1vmin;
    padding-bottom: 20vmin;
    color: rgb(255, 255, 255);
    font-weight: bold;
    top: 38vmin;
}

header .container {
    position: absolute;
}

header .container .col-md-7 h6 {
    font-size: 6vmin;   
    padding: 1vmin;
    letter-spacing: 4px;
}

header .container .col-md-7 h1 {
    font-size: 12vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}

header .container .col-md-7 button {
    border-radius: 0.3em;
    background-color: #102e18;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 3vmin;
    padding: 0.3em;
    width: 15rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0.3em;
}

/* section 1 */
.section-1 {
    padding: 20vmin 0;
}

.section-1 .row .col-md-4 .culture img {
    opacity: 0.9;
    border-radius: 0.3em;
    width: 100%;
}

.section-1 .row .col-md-4:last-child {
    position: relative;
}

.section-1 .row .col-md-4 .panel {
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 3vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--Rubik);
    opacity: 0.7;
}

.section-1 .row .col-md-4 h1 {
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}

.section-1 .row .col-md-4 p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
}

.section-1 .row .col-md-4 .video {
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 3vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--Rubik);
    opacity: 0.7;
}

/* section 2 */

.cover {
    width: 100%;
    height: 45vmin;
    position: relative;
}

.cover .content {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    padding-top: 19vmin;
}

.cover .content>h1 {
    font-family: var(--Patua);
    font-size: 6vmin;
    color: whitesmoke;
}

.specials .rect {
    width: 25rem;
    height: 30rem;
    display: inline-block;
    border-radius: .5em;
    padding-top: 3.5vmin;
    box-sizing: border-box;
    cursor: pointer;
    margin: 1rem;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.specials .rect1 {
    background-image: url(../assets/dessert.jpeg);
}

.specials .rect2 {
    background-image: url(../assets/beverages.jpg);
}

.specials {
    margin-top: -10vmin;
}

.specials .rect h1 {
    font-size: 2rem;
    color: white;
}

.specials .rect p {
    font-family: var(--Patua);
    color: white;
}


/* Footer */

footer {
    background: #000;
    overflow-x: hidden;
    padding: 10vmin 18vmin;
}

footer p>span {
    color: #ffffff;
}

footer p { 
    color: #ffffff;
}

.contact-footer h3{
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}
.social-links{
    display: flex;
    justify-content: center;
}
.social-links a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
}
.social-links a:hover{
    color: #267454;
    border-color: #267454;
}

